/* late FFFCE8
blk coffee 3E363F
red DD403A */
body {
  background-color: #DD403A;

}
h1 {
  color: #FFFCE8;
  margin-top: 5vh;
  margin-bottom: 10vh;
  text-align: center;
  font-size: 4vw;
  font-style: italic;
}

.zest {
  margin: auto;
}
#quote {
  text-align: center;
}

img {
height: 20vw;
margin-top: 20vh;
}

button {
border:none;
color: #DD403A;
font-weight: bold;
background-color: #FFFCE8;
border-radius: 10px;
font-size: 3vh;
}

button:hover {
font-style: italic;
text-decoration: underline;
background-color: #f7eeb7;
}
