body {
background-color: #ffe7d5;
/* margin-left: 10vw;
margin-right: 10vw; */
margin: 0;
padding: 2vw;
border-left: 150px solid #944205;
border-right: 150px solid #944205;
}

h1 {
font-family: 'Ubuntu Mono', monospace;
font-size: 8vw;
font-weight: bold;
margin:0px;
padding:0px;
}
h2 {
font-family: 'Ubuntu Mono', monospace;
font-size: 7vw;
argin:0px;
padding:0px;

}
h3 {
font-family: 'Ubuntu Mono', monospace;
font-size: 6vw;

}
h4 {
font-family: 'Ubuntu Mono', monospace;
font-size: 5vw;
line-height: 65px;
}
h5 {
font-family: 'Ubuntu Mono', monospace;
font-size: 4vw;

}
h6 {
font-family: 'Ubuntu Mono', monospace;
font-size: 3vw;
line-height: 65px;
}
p {
font-family: 'Ubuntu Mono', monospace;
font-size: 20px;
font-weight: normal;

}
ul {
font-family: 'Ubuntu Mono', monospace;
font-size: 20px;
font-weight: lighter;
}
a {
font-family: 'Ubuntu Mono', monospace;
font-size: 20px;
font-style: italic;
font-weight: bold;
}
a:link {
text-decoration: none;
color: #5a7375;
}
a:visited {
color: #516a6d;
text-decoration: underline;
}
a:hover {
color: #709093;
text-decoration: underline;
text-shadow: 1px 1px 2px #4b686b;
}
a:active {
color: #516a6d;
text-decoration: underline;
}

button {
  font-family: 'Ubuntu Mono', monospace;
  background-color: #e0a475;
  height:50px;
  width:100px;
}

button:hover{
  background-color: #a96330;
}
